textarea{
    font-family: monospace;
}

.container {
    width: 980px;
    margin: 0 auto !important;
}

#ip{
    display: none;
}

.title-bar{
    height: 70px;
}
.sub-bar{
    height: 30px;
}
.sub-links{
    list-style: none;
    width: 90%;
    display: table;
}
#bottom{
    position: relative;
    bottom: 0;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    width: 100%;
    padding-bottom: 1px;
    padding-top: 9px;
}
.bottom-bar{
    display: table;
    list-style: none;
    width: 100%;
}
.bottom-link{
    list-style: none;
    display: table-cell;
    width: 50%;
}
.bottom-link a{
    display: block;
    text-align: center;
    font-size: 16px;
}
.sub-link{
    text-align: center;
    font-size: 16px;
    height: 25px;
    padding-top: 5px;
    display: table-cell;
}
.sub-link-filler{
    display: table-cell;
}
.title{
    text-align: left;
    padding-left: 35px;
    font-family: Sansation,serif;
}

.right-things{
    padding-right: 30px;
    padding-top: 20px;
}

.tutorial{
    padding: 5px 25px 10px 15px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
.tutorial-description{
    font-size: 16px;
}
.body{
    z-index: -10;
}
hr{
    border-width: 3px;
}
.tutorial-author{
    font-size: 14px;
    padding-left: 6px;
    padding-top: 5px;
}
button.download{
    padding: 7px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    font-size: 19px;
    font-weight: bold;
}
botton.download:active{
    border-style: ridge;
}
input[type="text"],
textarea{
    width: 800px;
}
textarea.tutorial-editor{
    width: 100%;
}

#md-preview{
    padding: 5px 25px 10px 15px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
ul#color-boxes li{
    padding-top: 15px;
}
ul#color-boxes{
    display: none;
}
/*.tutorial-header{
    color: #2d3e50;
}*/
