.fulltext{
    display: none;
}

textarea{
    font-family: monospace;
}

#ip{
    display: none;
}

.title-bar{
    background-color: #2d3e50;
    height: 70px;
}
.sub-bar{
    background-color: #01b8e2;
    height: 30px;
}
.sub-links{
    list-style: none;
    height: 100%;
    color: #FFFFFF;
}
.sub-link{
    height: 100%;
    text-align: center;
    font-size: 15px;
    padding-top: 3.25px;
    width: 30px;
}
.sub-link a{
    color: #FFFFFF;
}
.sub-link:hover{
    background-color: #019cc3;
}
.sub-link a:hover{
    color: #FFFFFF;
}
.title{
    text-align: left;
    padding-left: 35px;
    color: #FFFFFF;
    font-family: Sansation,serif;
}

.right-things{
    padding-right: 30px;
    padding-top: 20px;
}

body{
    background-color: #f1f5f8;
}

.tutorial{
    background-color: #FFFFFF;
    padding: 5px 25px 10px 15px;
    border-color: #CECECE;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
.tutorial-description{
    font-size: 16px;
}
.body{
    padding: 13px;
    width: 100%;
    height: 100%;
    z-index: -10;
}
hr{
    border-width: 3px;
}
.tutorial-author{
    font-size: 14px;
    padding-left: 6px;
}
button.download{
    color: #FFFFFF;
    background-color: #41db5a;
    border: groove #319a52;
    padding: 7px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    font-size: 19px;
    font-weight: bold;
}
botton.download:active{
    border-style: ridge;
}
/*

<div class="title-bar">
    <h4 class="title"><a href="/">Tutorials</a></h4>
    <div class="right-things">
        <form action="/tagsearch.php" method="get"><label for="title-tag-search">Search for tags:</label><input name="tags" id="title-tag-search" placeholder="vps,bash"/></form>
    </div>
</div>
*/