.sub-link{
    color: #FFFFFF;
}

#bottom{
    background-color: #6a7f94;
}

.sub-bar{
    background-color: #01b8e2;
}

.title-bar{
    background-color: #2d3e50;
}

.sub-links{
    color: #FFFFFF;
}

.bottom-link a{
    color: #FFFFFF;
}

.sub-link.active{
    background-color: #019cc3;
}

.sub-link a{
    color: #FFFFFF;
}

.sub-link:hover{
    background-color: #0184a8;
}
.sub-link.active:hover{
    background-color: #016c8d;
}
.sub-link a:hover{
    color: #FFFFFF;
}

.title{
    color: #FFFFFF;
}

body{
    background-color: #f1f5f8;
}

.tutorial{
    background-color: #FFFFFF;
    border-color: #CECECE;
}

button.download{
    color: #FFFFFF;
    background-color: #41db5a;
    border: groove #319a52;
    /*padding-bottom: 20px;*/
}

button.download:hover{
    background-color: #3ac052;
}

button.download:active{
    background-color: #309846;
}

#md-preview{
    background-color: #FFFFFF;
    border-color: #CECECE;
}

.categories{
    background-color: white;
}

hr.tag-hr{
    color: #b8b8b8;
    border-color: #b8b8b8;
}

h4.tag-header{
    color: #848484;
}

.main-header{
    color: #465d6f;
}

.sub-header{
    color: #0192b6;
}

.mid-sample-box{
    background-color: white;
    border: 2px #333333;
}

.mid-button{
    background-color: #d3dadf;
    border: groove #b8b8b8;
}

.mid-button:active{
    border: ridge #b0b0b0;
    background-color: #97a8a9;
}
